<!doctype html><html lang="ja"><head><meta charset="utf-8">{% include "_css.j2" %}<style>.page{padding:40px 120px}.title{font-size:24px;text-align:center}</style></head><body><div class="page">
<h1 class="title" style="margin-bottom:14px">{{title}}</h1>{{blocks.recipient|safe}}<div style="margin:10px 0">{{blocks.meta|safe}}</div>
<div style="position:relative;margin-bottom:14px">{{blocks.issuer|safe}}{{blocks.seal|safe}}</div>{{blocks.item_table|safe}}<div style="margin-top:14px">{{blocks.summary|safe}}</div><div style="margin-top:12px">{{blocks.total_box|safe}}</div>
</div></body></html>
